body {
 	font-family: 'Dancing Script', cursive;
	color: #404042;
	font-size: 18px;
	margin: 0;
	background-color: #EBEDEF;
}
.contenedor-titulo {
	/*display:flex;
	justify-content: center;
	align-items: center;
	min-height: 15vw;
	margin: 0;*/
	padding: 10px;
	text-align: center;
	font-size: 28px;
	background-image: url(../imagenes/img1.jpeg);
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(../imagenes/banner.jpeg);
	/*background: #eab676;*/
	background-size: cover;
	background-position: center;
	color: white;
}
.contenedor{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.contenedor-izquierda {
	font-family: 'Lemonada', cursive;
	padding: 25px;
	background: #A3E4D7 ;
  	box-shadow: 0 0 16px rgba(0,0,0,0.1);
  	border-radius: 4px;
  	padding: 24px;
  	margin: 8px;
  	flex-grow: 1;
  	font-size: 22px;
}
.contenedor-datos {
	display: grid;
	grid-template-columns: 1fr 1fr;

}
.foto-perfil{
	background-image: url(../imagenes/img8.jpg);
	background-size: cover;
	max-width: 18vw;

}
.contenedor-derecha {
	font-family: 'Lemonada', cursive;
	padding: 25px;
	background: #A3E4D7 ;
  	box-shadow: 0 0 16px rgba(0,0,0,0.1);
  	border-radius: 4px;
  	padding: 24px;
  	margin: 8px;
  	flex-grow: 1;
}
.contenedor-imagen1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}
.contenedor-imagen2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.contenedor-imagen1 img{
	width: 96%;
	margin: 5px;
	border-radius: 8px;
}
.contenedor-imagen2 img{
	width: 96%;
	margin: 5px;
	border-radius: 8px;

}
img{
	box-shadow: 0 0 16px rgba(0,0,0,0.6);
}
.boton {
	background-color: #117864;
	color: white;
	padding: 12px 36px;
	border-radius: 4px;
	display: inline-block;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	margin: 5px;
	box-shadow: 0 0 16px rgba(0,0,0,0.6);

}
.footer{
	background: #0E6251;
	color: white;
	padding: 5px 5px 5px 5px;
	font-family: 'Lemonada', cursive;
	text-align: center;
}
